<!doctype html>
<html>
  <%- include('../templates/head', { page : 'artists' }); %>
  <body>
    <h1> artists </h1>
    <a href="/artists/add">add artist</a>
    <a href="/album/add">add album</a>
    <table>
      <thead>
        <tr>
          <th>Artist</th>
          <th>Genre</th>
          <th>Wiki</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% artists.forEach(function(artist) { %>
        <tr>
          <td>
            <a href="/artists/<%= artist._id %>">
              <%= artist.name %>
            </a>
          </td>
          <td><%= artist.genre %></td>
          <td><%= artist.wiki %></td>
          <td>
            <form action="/artists/<%= artist._id %>/edit"
                  method="GET">
              <input type="submit" value="edit">
            </form>
          </td>
          <td>
            <form action="/artists/<%= artist._id %>/delete"
                  method="POST">
              <input type="submit" value="delete">
            </form>
          </td>
        </tr>
      <% }); %>
      </tbody>
    </table>

  </body>
</html>
