<!doctype html>
<html>
  <%- include('../templates/head', { page : artist.name }); %>
  <body>
    <%- include('../templates/header', { page : 'edit : '+ artist.name }) %>
    <form class="pure-form pure-form-aligned"
          action='/artists/<%= artist._id %>/edit'
          method='POST'>
      <div class="pure-control-group">
        <label for="name">Name</label>
        <input id="name"
               type="text"
               name="name"
               value="<%= artist.name %>">
      </div>
      <div class="pure-control-group">
        <label for="genre">Genre</label>
        <input id="genre"
               type="text"
               name="genre"
               value="<%= artist.genre %>">
      </div>
      <div class="pure-control-group">
        <label for="wiki">Wiki</label>
        <input id="wiki"
               type="url"
               name="wiki"
               value="<%= artist.wiki %>">
      </div>
      <div class="pure-controls">
        <button type="submit"
                class="pure-button pure-button-primary">
          Submit
        </button>
      </div>
    </form>
  </body>
</html>
