<!doctype html>
<html>
  <%- include('../templates/head', { page : artist.name }); %>
  <body>
    <%- include('../templates/header', { page : 'name : '+ artist.name }) %>

    <div class="centered">
      <div class="clearfix">
        <div class="information">
          <h1 class="title"><%= artist.name %></h1>
          <h3> genre : <span class="designation"><%= artist.genre %></span></h3>
          <h2> albums : </h2>
        </div>
        <div class="links">
          <div class="options pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
              <li class="pure-menu-item"><a class="pure-menu-link" href="<%= artist.wiki %>">wiki</a></li>
              <li class="pure-menu-item"><a class="pure-menu-link" href='/album/add/<%= artist._id %>'>add album</a></li>
              <li class="pure-menu-item"><a class="pure-menu-link back" href='/artists'>back</a></li>
            </ul>
          </div>
        </div>
      </div>
      <table class="pure-table pure-table-horizontal">
        <thead>
          <tr>
            <th>name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% artist.albums.forEach(function(album) { %>
          <tr>
            <td>
              <a href="/album/<%= album._id %>">
                <%= album.name %>
              </a>
            </td>
            <td>
              <form action="/album/<%= album._id %>/delete"
                    method="POST">
                <input type="submit" class="delete" value="delete">
              </form>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>

  </body>
</html>
