<!doctype html>
<html>
  <%- include('../templates/head', { page : album.name }); %>
  <body>
    <h1>
      artist : <a
        href="/artists/<%= album.artistId %>">
        <%= album.artist.name %>
      </a>
    </h1>
    <h2> album : <%= album.name %> </h2>
    <h4>songs : </h4>
    <table>
      <thead>
        <tr>
          <th>name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% album.songs.forEach(function(song) { %>
      <tr>
        <td> <%= song.name %> </td>
        <td>
          <form action="/song/<%= song._id %>/edit">
            <input type="submit" value="edit">
          </form>
        </td>
        <td>
          <form action="/song/<%= song._id %>/delete"
                method="POST">
            <input type="submit" value="delete">
          </form>
        </td>
      </tr>
      <% }); %>
      </tbody>
    </table>
    <a href="/song/add/<%= album._id %>">add songs</a>
    <!-- not sure about this
    <a href="/album/<%= album._id %>/edit">edit</a>
    -->
    <a href="/artists/<%= album.artistId %>">back</a>
    <a href="/">main page</a>
  </body>
</html>
